.navbar-default {
  background-color: #1c1e20;
  border-color: #940e00;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #c7c7c7;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #c7c7c7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #c7c7c7;
  background-color: #940e00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #c7c7c7;
  background-color: #940e00;
}
.navbar-default .navbar-toggle {
  border-color: #940e00;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #940e00;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #c7c7c7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c7c7c7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c7c7c7;
    background-color: #940e00;
  }
}

.menu a {
    color: white;
    background-color: #930000;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #560000;
}

body {
  background-color: #E1E1E1
}

input, textarea, select {
  width: 150px;
  font-size: 12px;
  margin: 0px 0px 0px 0px;
}

#search_form {
  background-color: #ABABAB;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  margin-bottom: 20px;
  border-radius: 10px;
  width:170px;
}

.searchbox td, th {
  padding: 0px 5px 0px 5px 
}

.search_button {
  margin-left: 7px;
  margin-bottom: 10px;
  font-size: 14px
}

.searchbox th {
  padding-top: 8px
}

#main_image {
  width: 286px
}