.contact_info {
  display: block;
  margin: 0 auto;
  width: 30%;
  text-align: center
}

.picture {
  display: block;
  heigth: 50px;
  width: 50px
}

.media-object {
  display: block;
  heigth: 50%;
  width: 50%;
  margin: 0 auto
}

#map {
  width: 600px;
  height: 400px;
  display: block;
  margin: 0 auto
}

#title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: white;
  background-color: #660000;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px
}