.panel-body {
  text-align: center
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 30px;
  display: block;
  color: white;
  background-color: #660000;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px
}

th {
  text-align: center;
}

.price_list {
  background-color: #F0F1F1
}