<!DOCTYPE html>
    
{% load staticfiles %}


<html lang="pl_PL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Cardom</title>
 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="{% static 'cardom/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'cardom/javascript/base.js' %}">
    
    {% block head %}
    
    {% endblock %}

 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="jumbotron">
        <a href="{% url 'index' %}"><img src="{% static 'cardom/images/logo-cardom.jpg' %}" /></a>
        
        <script type="text/javascript">
            $(function(){
                var dataArray=new Array();
                dataArray[0]="{% static 'cardom/images/header1.jpg' %}";
                dataArray[1]="{% static 'cardom/images/header2.jpg' %}";
                dataArray[2]="{% static 'cardom/images/header3.jpg' %}";
                dataArray[3]="{% static 'cardom/images/header0.jpg' %}";
        
                var thisId=0;
        
                window.setInterval(function(){
                    $('#main_img').attr('src',dataArray[thisId]);
                    thisId++; //increment data array id
                    if (thisId==4) thisId=0; //repeat from start
                },5000);        
            });
        </script>
        <img src="{% static 'cardom/images/header0.jpg' %}" id="main_img"/>
        
        <div role="navigation">
          <ul class="nav nav-pills nav-justified menu">
            <li><a href="{% url 'flats' %}">Mieszkania</a></li>
            <li><a href="{% url 'houses' %}">Domy</a></li>
            <li><a href="{% url 'lots' %}">Działki</a></li>
            <li><a href="{% url 'locals' %}">Lokale</a></li>
            <li><a href="{% url 'other_objects' %}">Obiekty</a></li>
          </ul>
        </div>
    </div>
    
    
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-8">
          <form class="form-horizontal" id="search_form" role="form" action="/offer_list/" method="get">
            <table class="searchbox">
              <tr><th><label for="id_province">Województwo:</label></th></tr>
              <tr><td>{{ filter.form.province }}</td></tr>
              <tr><th><label for="id_city">Miasto:</label></th></tr>
              <tr><td>{{ filter.form.location }}</td></tr>
              <tr><th><label for="id_category">Typ obiektu:</label></th></tr>
              <tr><td>{{ filter.form.object }}</td></tr>
              <tr><th><label for="id_transaction">Rodzaj transakcji:</label></th></tr>
              <tr><td>{{ filter.form.rent }}</td></tr>
              <tr><th><label for="id_nb_rooms">Liczba pokoi:</label></th></tr>
              <tr><td>Od{{ filter.form.min_nb_rooms }}</td></tr>
              <tr><td>Do{{ filter.form.max_nb_rooms }}</td></tr>
              <tr><th><label for="id_min_floor_space">Powierzchnia [m2]:</label></th></tr>
              <tr><td>Od{{ filter.form.min_floor_space }}</td></tr>
              <tr><td>Do{{ filter.form.max_floor_space }}</td></tr>
              <tr><th><label for="id_price">Cena [zł]:</label></th></tr>
              <tr><td>Od{{ filter.form.min_price }}</td></tr>
              <tr><td>Do{{ filter.form.max_price }}</td></tr>
            </table><br/>
            <input type="submit" class="search_button" value="Szukaj"/>
          </form>
        </div>
        <div class="col-md-10 col-sm-20 col-xs-40">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    
    
        
    <footer class="footer">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Cardom</a>
          </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'about' %}">O firmie</a></li>
              <li><a href="{% url 'contact' %}">Kontakt</a></li>
              <li><a href="{% url 'credits' %}">Kredyty</a></li>
              <li><a href="{% url 'prices' %}">Cennik</a></li>
              <li><a href="{% url 'career' %}">Kariera</a></li>
              <li><a href="{% url 'publish_offer' %}">Zgłoś ofertę</a></li>
            </ul>                   
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </footer>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>