<form action="/offer_list/" method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>


{% block content %}
{% endblock %}

<a href="{% url 'flats' %}">Mieszkania</a>
<a href="{% url 'houses' %}">Domy</a>
<a href="{% url 'lots' %}">Działki</a>
<a href="{% url 'locals' %}">Lokale</a>
<a href="{% url 'other_objects' %}">Obiekty</a><br />

<a href="{% url 'about' %}">O firmie</a>
<a href="{% url 'contact' %}">Kontakt</a>
<a href="{% url 'credits' %}">Kredyty</a>
<a href="{% url 'prices' %}">Cennik</a>
<a href="{% url 'career' %}">Kariera</a>
<a href="{% url 'publish_offer' %}">Opublikuj ofertę</a>