{% extends 'cardom/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'cardom/css/career.css' %}">
{% endblock %}

{% block content %}
<div class="title">Kariera</div></br>

<div class="contact_info">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Agent Nieruchomości / Asystent Pośrednika</strong></h3>
      </div>
      <div class="panel-body">

        <p><b><i>Jeżeli jesteś osobą dynamiczną, o wysokiej kulturze osobistej, posiadasz minimum średnie wykształcenie, chcesz pracować i rozwijać się w firmie z 20-letnim doświadczeniem - zapraszamy do współpracy.</i></b></p>
        
        <p><b></b></p>
        
        <p><b><i>Proponowane stanowisko: <br />
        Agent Nieruchomości / Asystent Pośrednika</i></b></p>
        
        <p><b><i><br />
        <br />
        Poszukujemy osób z rejonów:<br />
        Opole, Kędzierzyn-Koźle, Strzelce Op. , Krapkowice, Nysa, Prudnik, Głubczyce</i></b></p>
        
        <p><b><i><br />
        <br />
        Wymagania:<br />
        - zainteresowanie tematyką związaną z rynkiem nieruchomości<br />
        - komunikatywność<br />
        - samodyscyplina połączona z dobrą organizacją pracy<br />
        - znajomość lokalnego rynku nieruchomości<br />
        - swobodna obsługa komputera i internetu<br />
        - prawo jazdy, własny samochód</i></b></p>
        
        <p><b><i><br />
        <br />
        Mile widziane:<br />
        - doświadczenie w branży nieruchomości, licencja pośrednika<br />
        - dobra znajomość języka obcego</i></b></p>
        
        <p><b><i><br />
        <br />
        Oferujemy:<br />
        - ciekawą pracę dającą możliwość rozwoju zawodowego<br />
        - atrakcyjne warunki finansowe, wysokie zarobki uzależnione od efektów pracy<br />
        - bezpłatne szkolenia wprowadzające<br />
        - profesjonalne narzędzia pracy<br />
        - możliwość korzystania z systemów informatycznych i reklamowych firmy<br />
        - możliwość odbycia praktyk zawodowych w procesie uzyskiwania licencji pośrednika<br />
        <br />
        </i></b></p>
        
        <p><b><i><br />
        CV i list motywacyjny, ze wskazaniem wybranego regionu oraz klauzulą:
        "Wyrażam zgodę na przetwarzanie moich danych osobowych przez CARDOM
        Biuro Obrotu Nieruchomościami dla potrzeb procesu rekrutacji zgodnie
        z ustawą o ochronie danych osobowych z dn. 29.08.97 r. Dz. U. 133, poz. 883 z póź. zm.) ",
        prosimy przesłać na adres: <div class='mail'>biuro@cardom.pl</div><br />
        <br />
        Nawiążemy kontakt tylko z wybranymi kandydatami (do 14 dni od otrzymania CV).<br />
        Gwarantujemy poufność.</i></b></p>
      </div>
    </div>
</div>
{% endblock %}