{% extends 'cardom/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'cardom/css/contact.css' %}">
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
        function initMap() {
          var myLatLng = {lat: 50.344691, lng: 18.211907};
        
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: myLatLng
          });
        
          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        }
      google.maps.event.addDomListener(window, 'load', initMap);
</script>
{% endblock %}

{% block content %}
<div class="contact_info">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>ZAPRASZAMY</strong></h3>
      </div>
      <div class="panel-body">
        Kędzierzyn-Koźle</br>
        Pl. Wolności 6-7</br>
        ( I piętro )</br>
        </br>
        tel. (77) 483 72 04</br>
        kom. 602 379 056</br>
        </br>
        biuro@cardom.pl</br>
      </div>
    </div>
</div>


<img class="media-object" src="{% static 'cardom/images/biuro.jpg' %}" alt="error"/>
</br>
<div id="map"></div>
</br>
{% endblock %}