{% extends 'cardom/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'cardom/css/credits.css' %}">
{% endblock %}

{% block content %}
<div class="title">Kredyty</div></br>
<div class="panel panel-default">
  <div class="panel-body">
    
<p>
W ramach naszych usług, dzięki współpracy z bankami i firmami finansowymi, służymy pomocą w uzyskaniu kredytów hipotecznych :</br>
</br>
- dokonujemy wstępnej oceny zdolności kredytowej</br>
- sprawdzamy aktualną ofertę kilku banków, starając się dobrać ofertę dostosowaną do sytuacji i oczekiwań danego klienta</br>
- pomagamy przygotować wszelkie niezbędne dokumenty kredytowe</br>
 </br>
<div id="text">DLA OSÓB PROWADZĄCYCH DZIAŁALNOŚĆ POSIADAMY W OFERCIE KREDYTY BEZ  STANDARDOWEGO  BADANIA  ZDOLNOŚCI  KREDYTOWEJ.</div></br>
</br>
<strong>Usługa ta nie wiąże się z żadnymi dodatkowymi kosztami.</strong></br> 
</p>
</br> 
<p>
Dlaczego kredyt ?</br>
1. Jeżeli nie posiadamy środków finansowych na zakup wymarzonego mieszkania, domu  –
skazani jesteśmy najczęściej na najem swojego lokum; płacimy czynsz najmu, nie jesteśmy u siebie,
nie mamy motywacji bądź możliwości, by nasze „cztery kąty” wyglądały tak jak chcemy, a często nie zaspokajają
one naszych faktycznych potrzeb mieszkaniowych. Dążąc jednak do posiadania własnego dachu nad głową - zbieramy,
zbieramy i uzbierać nie możemy - i ciągle płacimy za wynajem . Czy tak musi być ? – NIE !
Bierzemy kredyt . Korzystamy z zakupionego - wreszcie własnego -  „M” i spłacamy je, traktując ratę
kredytu jako swoistego rodzaju czynsz najmu. Przerywamy błędne koło „zbierania”.</br>
</br>
2. Jeżeli mamy środki finansowe, ale prowadząc np. działalność gospodarczą,
nie bardzo chcemy je angażować w celu zakupu nieruchomości, bierzemy kredyt
hipoteczny, którego warunkom nie dorównuje żaden kredyt komercyjny, a własne środki pomnażamy w naszej firmie.</br>
</br>
3. Jeżeli chcemy bezpiecznie zainwestować, to rozsądnie wybrana,
kupiona w kredycie i podnajęta nieruchomość może być dobrą inwestycją ;
przez kilka, kilkanaście lat „sama będzie się kupowała” - czynsz najmu pokryje -
częściowo lub w całości- ratę kredytu, a po jego spłacie dysponować będziemy
konkretnym kapitałem w postaci wartości zakupionej nieruchomości.</br>
Nie bójmy się kredytu, ale bierzmy go rozsądnie !</br>
</p>
  </div>
</div>
{% endblock %}