{% extends 'cardom/base.html' %}

{% block content %}
<div class="col-md-6">
Najnowsze oferty

{% for offer in latest_offers %}
    <table class="table_center">
        <tr><th>{{offer.category}}</th></tr>
        <tr><td><div class="location">{{offer.city}} ({{offer.district}})</div></td></tr>
        <tr><td><img src="{{ offer.main_image.url }}" height="180" width="260" alt="error"></td></tr>
        <tr><td><div class="info"><p class="text-left">{{offer.floor_space}}m2</p><p class="text-center">{{offer.get_transaction_display}}</p><p class="text-right">{{offer.price}}zł </p></div></td></tr>
    </table><br />
{% endfor %}
</div>

<div class="col-md-6">
Promowane oferty
<table class="table_center">
    {% for offer in promoted_offers %}
    <tr><th>{{offer.category}}</th></tr>
    <tr><td><img src="{{ offer.main_image.url }}" height="180" width="260" alt="error"></td></tr>
    <tr><td>{{offer.city}} {{offer.district}} {{offer.floor_space}} {{offer.price}} </td></tr>
    {% endfor %}
</table><br />
</div>
{% endblock %}
