{% extends 'cardom/base.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'cardom/css/category_page.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-12">
<div class="title">Działki</div></br>

<form action="/lots/" method="get" class="sort_form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-default">Ok</button>
</form></br>

{% for offer in lot_offers %}
    {% if forloop.first %}
        <div class="row">
    {% endif %}
        <div class="info-block col-xs-12 col-sm-6">
            
                <table class="table_center"> 
                    <tr><th>{{offer.object}}</th></tr>
                    <tr><td><div class="location">{{offer.location}} ({{offer.province}})</div></td></tr>
                    <tr><td><a href="{% url 'details' pk=offer.pk %}"><img src="http://cardom.pl/photos/offer_{{offer.id}}/{{offer.first_offersphotos.id}}_2.jpg" height="180" width="300" alt="error"></a></td></tr>
                    <tr><td><a href="{% url 'details' pk=offer.pk %}"><div class="info">
                    <p class="text-left">{{offer.area}}m2</p>
                    <p class="text-center">{{offer.get_rent_display}}</p>
                    <p class="text-right">{{offer.price}}zł </p></div></a></td></tr>
                </table>
            
            </br>
        </div>
    {% if forloop.last %}
        </div>
    {% else %}
        {% if forloop.counter|divisibleby:'2' %}
            </div>
            <div class="row">
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endblock %}
