{% extends 'cardom/base.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'cardom/css/offer_details.css' %}">
{% endblock %}

{% block content %}
<div class="title">Szczegóły oferty</div></br>

            <div class="intro"><strong>{{offer.category}} NA {{offer.get_transaction_display}}</strong></div></br>
            <div class="city">{{offer.city}} ({{offer.district}})</div></br>
            <div class="parameters">
                <p>Powierzchnia: {{offer.floor_space}}m2</p>
                <p>Liczba pokoi: {{offer.nb_rooms}}</p>
                <p>Balkon: {{offer.balcony|yesno:"Tak,Nie"}}</p>
            </div>
            <div class="parameters"><p>Cena: {{offer.price}}zł</p></div></br>


            <div class="row">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="{{ offer.main_image.url }}" height="120" width="220" alt="error">
                  </a>
                </div>
                {% for pic in gallery %}
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="{{ pic.images.url }}" height="120" width="220" alt="error">
                  </a>
                </div>
                {% endfor %}
            </div>
            <div class="description">{{ offer.description }}</div>
            
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-actions">
                  <button type="submit">Wyślij</button>
                </div>
            </form>

{% endblock %}