{% extends 'cardom/base.html' %}
{% load static %}
{% load bootstrap %}

{% block head %}
<link rel="stylesheet" href="{% static 'cardom/css/publish_offer.css' %}">
{% endblock %}

{% block content %}
<div class="title">Zgłoś ofertę</div></br>

<div class="publish_form">
    <div class="col-md-10">
        <form method="post" class="form-horizontal" id="publish_form">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-actions" >
                <button type="submit" id="send_button">Zgłoś</button></br>
            </div>
        </form>
    </div>
</div>

{% endblock %}